:root{
    --pink: hsla(298, 60%, 61%, 1);
    --purple: hsla(292, 96%, 17%, 1);
    --dark-purple:hsla(292, 96%, 7%, 1);
    --dark-blue:hsla(258, 96%, 22%, 1);
    --blue:hsla(230, 96%, 28%, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--dark-purple);
    perspective: 1500px;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 35px;
    background-image: linear-gradient(to right, var(--purple), var(--dark-blue));
    transform: rotate(-23deg);
    margin: 2rem 0 4rem 0;
    transform-origin: bottom right;
}
.logo2{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 35px;
    background-color: white;
    transform: rotate(-7deg);
    margin: 2rem 0 4rem 0;
    transform-origin: bottom right;
}
.logo2 i{
    font-size: 9rem;
    font-weight: 600;
    color: var(--purple);
    cursor:default;
}

h1{
    font-size: 3rem;
    color: white;
    font-weight: 400;
    margin: 0 0 2rem 0;
}

i{
    cursor: pointer;
}
#input{
    border: 1px solid black;
    padding: 15px 7px;
    padding-left: 10px;
    width: 70vw;
    max-width: 800px;
    border-radius: 5px;
    margin-left: 33px;
    margin-bottom: 1rem;
}
#input::selection{
    color: white;
    background: var(--purple);
}
#input:focus{
    outline: none;
}
.fa-plus{
    position: relative;
    left: -38px;
    top: 1.5px;
    background-color: white;padding: .5rem;
}

section{
    display: flex;
    justify-content: space-between;
    padding: 17px;
    width: 70vw;
    max-width: 800px;
    min-width: 300px;
    border-radius: 5px;
    margin:.3rem 0;
    background-color: white;
    animation: myAnimationReverse .8s;
}
section span{
    margin: 0 1rem;
    text-align: left;
    width: 100%;
}

.span-line{
    text-decoration: line-through;
}

.dark{
    color:white;
    background-color: var(--purple);
    animation: myAnimation .7s ;
}

@keyframes myAnimation{
    0%{
        opacity: 0;
        transform: rotateX(0deg)
    }
    33%{
        transform: rotateX(25deg)
    }
    66%{
        transform: rotateX(-25deg)
    }
    100%{
        transform: rotateX(0deg);
    }
}

@keyframes myAnimationReverse{
    0%{
        opacity: 0;
        transform: rotateX(0deg)
    }
    33%{
        transform: rotateX(-25deg)
    }
    66%{
        transform: rotateX(15deg)
    }
    100%{
        transform: rotateX(0deg)
    }
}

@media screen and (max-width: 480px){
    .logo{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        background-image: linear-gradient(to right, var(--purple), var(--dark-blue));
        transform: rotate(-23deg);
        margin: 2rem 0 4rem 0;
        transform-origin: bottom right;
    }
    .logo2{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        background-color: white;
        transform: rotate(-7deg);
        margin: 2rem 0 4rem 0;
        transform-origin: bottom right;
    }
    .logo2 i{
        font-size: 5rem;
        font-weight: 600;
        color: var(--purple);
        cursor:default;
        margin: 10px;
    }
    h1{
        font-size: 2rem;
        color: white;
        font-weight: 400;
        margin: 0 0 2rem 0;
    }
    #input{
        border: 1px solid black;
        padding: 10px 5px;
        padding-left: 10px;
        width: 70vw;
        max-width: 800px;
        border-radius: 5px;
        margin-left: 33px;
        margin-bottom: 1rem;
    }
    section{
        display: flex;
        justify-content: space-between;
        padding: 12px;
        width: 70vw;
        max-width: 800px;
        min-width: 300px;
        border-radius: 5px;
        margin:.3rem 0;
        background-color: white;
        animation: myAnimationReverse .8s;
    }
}